server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: "jdbc:mysql://localhost:3306/devteria?createDatabaseIfNotExist=true"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
com:
  hauhh:
    key: "GMOetuUdwobZblQf2oCvbOuUT3jIEO05KdZ1RgFxGE1rDglmti25nVNLrNF6eCtY"